<section class="page__about about">
    <div class="about__container">
        <h2 class="about__title section-title">O NAS</h2>
        <h3 class="about__subtitle section-subtitle">TROCHĘ O NAS, DOMKACH I NASZEJ OSADZIE</h3>
        <p class="about__text">Osada Miód Malina powstała w 2023 roku. Do dyspozycji naszych gości mamy obecnie 4 domy, których wynajem uruchomiliśmy na koniec 2023 roku. Osada jest całkowicie nowa i czeka aby ugościć i rozpieścić swoich gości..</p>
        <a href="#" class="about__link link">CZYTAJ DALEJ</a>
    </div>
</section>