<section class="page__activity activity">
    <div class="activity__container">
        <div class="activity__header header-block">
            <h2 class="header-block__title section-title">ATRAKCJE</h2>
            <h3 class="header-block__subtitle section-subtitle">W POBLIŻU ZNAJDUJĄ SIĘ..</h3>
        </div>

        <ul class="activity__list">
            <li class="activity__item item-activity">
                <img class="item-activity__icon" src="./img/activity/01.svg" alt="icon">
                <p class="item-activity__label">Park wodny</p>
            </li>
            <li class="activity__item item-activity">
                <img class="item-activity__icon" src="./img/activity/02.svg" alt="icon">
                <p class="item-activity__label">Kuligi</p>
            </li>
            <li class="activity__item item-activity">
                <img class="item-activity__icon" src="./img/activity/03.svg" alt="icon">
                <p class="item-activity__label">Stoki</p>
            </li>
            <li class="activity__item item-activity">
                <img class="item-activity__icon" src="./img/activity/04.svg" alt="icon">
                <p class="item-activity__label">Resorty SPA</p>
            </li>
            <li class="activity__item item-activity">
                <img class="item-activity__icon" src="./img/activity/05.svg" alt="icon">
                <p class="item-activity__label">Park linowy</p>
            </li>
            <li class="activity__item item-activity">
                <img class="item-activity__icon" src="./img/activity/06.svg" alt="icon">
                <p class="item-activity__label">Resturacje i Karczmy</p>
            </li>
            <li class="activity__item item-activity">
                <img class="item-activity__icon" src="./img/activity/07.svg" alt="icon">
                <p class="item-activity__label">Trójtyk</p>
            </li>
            <li class="activity__item item-activity">
                <img class="item-activity__icon" src="./img/activity/08.svg" alt="icon">
                <p class="item-activity__label">Szlaki turystyczne</p>
            </li>
        </ul>

        <a class="activity__link" href="#">ZOBACZ PEŁNĄ LISTĘ ATRAKCJI</a>
    </div>
</section>