<section class="page__amenities amenities">
    <div class="amenities__container">
        <div class="amenities__header header-block">
            <h2 class="header-block__title section-title">UDOGODNIENIA</h2>
            <h3 class="header-block__subtitle section-subtitle">CZEKAJĄ NA WAS..</h3>
        </div>

        <div class="amenities__body body-amenities">
            <div class="body-amenities__content">
                <h4 class="body-amenities__title">W NASZEJ OSADZIE CZEKAJĄ NA NASZYCH GOŚCI</h4>
                
                <ul class="body-amenities__list">
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="../img/amenities/01.jpg" alt="NARCIARNIA">
                        <p class="body-amenities__label">NARCIARNIA</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="../img/amenities/02.jpg" alt="NARCIARNIA">
                        <p class="body-amenities__label">PLAC ZABAW
                            DLA DZIECI</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="../img/amenities/03.jpg" alt="NARCIARNIA">
                        <p class="body-amenities__label">DUŻE TARASY
                            Z WYPOSAŻENIEM</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="../img/amenities/04.jpg" alt="NARCIARNIA">
                        <p class="body-amenities__label">PRYWATNE BALIE
                            OGRZEWANE 
                            DREWNEM</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="../img/amenities/05.jpg" alt="NARCIARNIA">
                        <p class="body-amenities__label">DUŻA WIATA
                            Z PALENISKIEM</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="../img/amenities/06.jpg" alt="NARCIARNIA">
                        <p class="body-amenities__label">PRYWATNE
                            GRILLE
                            ORAZ DREWNO
                            DO BALII</p>
                    </li>
                </ul>
            </div>

            <div class="body-amenities__content">
                <h4 class="body-amenities__title">W KAŻDYM DOMKU GOŚCIE MAJĄ DO DYSPOZYCJI</h4>
                <ul class="body-amenities__list">
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="../img/amenities/07.jpg" alt="NARCIARNIA">
                        <p class="body-amenities__label">NARCIARNIA</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="../img/amenities/08.jpg" alt="NARCIARNIA">
                        <p class="body-amenities__label">PLAC ZABAW
                            DLA DZIECIPLAC ZABAW
                            DLA DZIECI</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="../img/amenities/09.jpg" alt="NARCIARNIA">
                        <p class="body-amenities__label">DUŻE TARASY
                            Z WYPOSAŻENIEM</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="../img/amenities/10.jpg" alt="NARCIARNIA">
                        <p class="body-amenities__label">PRYWATNE BALIE
                            OGRZEWANE 
                            DREWNEM</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="../img/amenities/11.jpg" alt="NARCIARNIA">
                        <p class="body-amenities__label">DUŻA WIATA
                            Z PALENISKIEM</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="../img/amenities/12.jpg" alt="NARCIARNIA">
                        <p class="body-amenities__label">PRYWATNE
                            GRILLE
                            ORAZ DREWNO
                            DO BALII</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>