<section class="page__amenities amenities">
    <div class="amenities__container">
        <div class="amenities__header header-block">
            <h2 class="header-block__title section-title">UDOGODNIENIA</h2>
            <h3 class="header-block__subtitle section-subtitle">CZEKAJĄ NA WAS..</h3>
        </div>

        <div class="amenities__body body-amenities">
            <div class="body-amenities__content">
                <h4 class="body-amenities__title">W NASZEJ OSADZIE CZEKAJĄ NA NASZYCH GOŚCI</h4>
                
                <ul class="body-amenities__list">
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="./img/amenities/narciarnia.jpg" srcset="./img/amenities/narciarnia@2x.jpg 2x" alt="Narciarnia">
                        <p class="body-amenities__label">NARCIARNIA</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="./img/amenities/plac_zabaw.jpg" srcset="./img/amenities/plac_zabaw@2x.jpg 2x" alt="Plac zabaw dla dzieci">
                        <p class="body-amenities__label">PLAC ZABAW
                            DLA DZIECI</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="./img/amenities/tarasy.jpg" srcset="./img/amenities/tarasy@2x.jpg 2x" alt="Duże tarasy z wyposażeniem">
                        <p class="body-amenities__label">Duże tarasy z wyposażeniem</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="./img/amenities/balie_ogrzewane.jpg" srcset="./img/amenities/balie_ogrzewane@2x.jpg 2x" alt="Prywatne balie ogrzewane drewnem">
                        <p class="body-amenities__label">Prywatne balie ogrzewane drewnem</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="./img/amenities/grille.jpg" srcset="./img/amenities/grille@2x.jpg 2x" alt="Prywatne  grille oraz drewno do balii">
                        <p class="body-amenities__label">Prywatne grille oraz drewno do balii</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="./img/amenities/kominek.jpg" srcset="./img/amenities/kominek@2x.jpg 2x" alt="Duża wiata z paleniskiem">
                        <p class="body-amenities__label">Duża wiata z paleniskiem</p>
                    </li>
                </ul>
            </div>

            <div class="body-amenities__content">
                <h4 class="body-amenities__title">W KAŻDYM DOMKU GOŚCIE MAJĄ DO DYSPOZYCJI</h4>
                <ul class="body-amenities__list">
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="./img/amenities/taras_widokiem.jpg" srcset="./img/amenities/taras_widokiem@2x.jpg 2x" alt="Taras z widokiem">
                        <p class="body-amenities__label">Taras z widokiem</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="./img/amenities/ręczniki.jpg" srcset="./img/amenities/ręczniki@2x.jpg 2x" alt="Zestaw ręczników i szlafroków">
                        <p class="body-amenities__label">Zestaw ręczników i szlafroków</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="./img/amenities/kuchnia.jpg" srcset="./img/amenities/kuchnia@2x.jpg 2x" alt="Duże tarasy z wyposażeniem">
                        <p class="body-amenities__label">Duże tarasy z wyposażeniem</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="./img/amenities/smart_tv.jpg" srcset="./img/amenities/smart_tv@2x.jpg 2x" alt="Telewizor smart z wifi">
                        <p class="body-amenities__label">Telewizor smart z wifi</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="./img/amenities/kominek.jpg" srcset="./img/amenities/kominek@2x.jpg 2x" alt="NARCIARNIA">
                        <p class="body-amenities__label">Kominek typu koza z drewnem</p>
                    </li>
                    <li class="body-amenities__item">
                        <img class="body-amenities__image" src="./img/amenities/ekspres_do_kawy@2x.jpg" srcset="./img/amenities/ekspres_do_kawy@2x.jpg 2x" alt="Ekpres do kawy na ziarna">
                        <p class="body-amenities__label">Ekpres do kawy na ziarna</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>