<section class="page__contacts contacts">
    <div class="contacts__container">
        <div class="contacts__header header-block">
            <h2 class="header-block__title section-title">KONTAKT</h2>
            <h3 class="header-block__subtitle section-subtitle">POZOSTAŃMY W KONTAKCIE..</h3>
        </div>

        <ul class="contacts__list">
            <li class="contacts__item">
                <a href="tel:+48664769936" class="contacts__link contacts__link--phone">+48 664 769 936</a>
            </li>
            <li class="contacts__item">
                <a href="mailto:miodmalina.istebna@gmail.com"
                    class="contacts__link contacts__link--mail">miodmalina.istebna@gmail.com</a>
            </li>
            <li class="contacts__item">
                <a href="#" class="contacts__link contacts__link--map">Jasnowice 2024, 43-470 Istebna</a>
            </li>

        </ul>

        <ul class="contacts__social social">
            <li class="social__item">
                <a href="#" target="_blank" class="social__link">
                    <img class="social__icon" src="../img/icons/social/facebook.svg" alt="Social icon facebook">
                </a>
            </li>
            <li class="social__item">
                <a href="#" target="_blank" class="social__link">
                    <img class="social__icon" src="../img/icons/social/booikng.svg" alt="Social icon booikng">
                </a>
            </li>
            <li class="social__item">
                <a href="#" target="_blank" class="social__link">
                    <img class="social__icon" src="../img/icons/social/instagram.svg" alt="Social icon instagram">
                </a>
            </li>
        </ul>
    </div>
</section>