<footer class="footer">
  <div class="footer__container">
    <a href="index.html" class="menu__logo logo">
      <img class="logo__img" src="../img/logo/footer-logo.svg" alt="Logotype">
    </a>

    <ul class="footer__social social">
      <li class="social__item">
        <a href="#" class="social__link">
          <img class="social__icon" src="../img/icons/social/facebook.svg" alt="Social icon facebook">
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link">
          <img class="social__icon" src="../img/icons/social/booikng.svg" alt="Social icon booikng">
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link">
          <img class="social__icon" src="../img/icons/social/instagram.svg" alt="Social icon instagram">
        </a>
      </li>
    </ul>
  </div>
</footer>