<footer class="footer">
  <div class="footer__container">
    <a href="index.html" class="footer__logo logo">
      <img class="logo__img" src="./img/logo/footer-logo.svg" alt="Logotype">
    </a>

    <ul class="footer__social social">
      <li class="social__item">
        <a href="#" target="_blank" class="social__link">
            <!-- <img class="social__icon" src="./img/icons/social/facebook.svg" alt="Social icon facebook"> -->
            <svg width="32" height="32" class="social__icon">
                <use href="../img/icons/sprite.svg#icon-facebook"></use>
            </svg>
        </a>
    </li>
    <li class="social__item">
        <a href="#" target="_blank" class="social__link">
            <!-- <img class="social__icon" src="./img/icons/social/booikng.svg" alt="Social icon booikng"> -->
            <svg width="32" height="32" class="social__icon">
                <use href="../img/icons/sprite.svg#icon-booikng"></use>
            </svg>
        </a>
    </li>
    <li class="social__item">
        <a href="#" target="_blank" class="social__link">
            <!-- <img class="social__icon" src="./img/icons/social/instagram.svg" alt="Social icon instagram"> -->
            <svg width="32" height="32" class="social__icon">
                <use href="../img/icons/sprite.svg#icon-instagram"></use>
            </svg>
        </a>
    </li>
    </ul>

    <div class="footer__contacts">
      <a href="tel:+48664769936">+48 664 769 936</a>
      <span> / </span>
      <a href="mailto:miodmalina.istebna@gmail.com">miodmalina.istebna@gmail.com</a>
      <span> / </span>
      <a href="#">Jasnowice 2024, 43-470 Istebna</a>
    </div>

    <div class="footer__privacy privacy-footer">
      <p class="privacy-footer__copy">Miód Malina &copy; 2024  </p>
      <p class="privacy-footer__website">
        <span>Wykonane przez </span>
        <a href="#" target="_blank" class="privacy-footer__link">nkweb.pl</a>
      </p>
    </div>
  </div>
</footer>