<!-- <header class="header">
  <div class="header__container">
    <img class="header__logo" src="../img/logo/logo.svg" alt="Logotype">
    <nav class="header__menu menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link">Strona Główna</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">O nas</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Atrakcje</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Udogodnenia</a>
        </li>
      </ul>
    </nav>
  </div>
</header> -->