<section class="page__hero hero">
    <div class="hero__container">
        <nav class="hero__menu menu">
            <a href="index.html" class="menu__logo logo">
                <img class="logo__img" src="./img/logo/logo.svg" alt="Logotype">
            </a>
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#" class="menu__link">Strona Główna</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">O nas</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Atrakcje</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Udogodnenia</a>
                </li>
            </ul>
        </nav>

        <div class="hero__content">
            <h1 class="hero__title title">MIÓD MALINA</h1>
            <p class="hero__text">OSADA ISTEBNA</p>
            <a href="#" class="hero__button button">ZOBACZ WIĘCEJ</a>
        </div>
    </div>

    <img class="hero__bg" src="./img/hero/bg.jpg" alt="Backgound image">
</section>