*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
}

a,
*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 20rem; 
  line-height: 1;
}