@charset "UTF-8";
/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/*
* 
* --------- Сonnecting fonts ----------------- */
@import url("/css/reset.css");
@import url("/css/container.css");
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni 72";
  src: url("../fonts/BodoniSvtyTwoITCTT-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*
* 
* --------- Сonnecting reset styles ---------- */
body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.25rem;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=page__],
.footer {
  padding-block: 4rem;
}
@media screen and (max-width: 767.98px) {
  [class*=page__],
  .footer {
    padding-block: 2rem;
  }
}
[class*=page__]:nth-child(even),
.footer:nth-child(even) {
  background-color: #ffffff;
}
[class*=page__]:nth-child(odd),
.footer:nth-child(odd) {
  background-color: #f4f4f4;
}

.button {
  display: inline-block;
  color: #f4f4f4;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  line-height: 1.25rem;
  background-color: #d8ae5e;
  -webkit-transition: background-color 150ms ease-in;
  transition: background-color 150ms ease-in;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #a18146;
  }
}

.header-block {
  text-align: center;
}
.header-block__title:not(:last-child) {
  margin-bottom: 8px;
}
.header-block::after {
  content: "";
  width: 120px;
  height: 1px;
  background-color: #d8ae5e;
  margin-top: 32px;
}
@media only screen and (max-width: 767.98px) {
  .header-block::after {
    margin-top: 15px;
  }
}

.section-title {
  font-family: "Bodoni 72";
  font-size: 64px;
  text-transform: uppercase;
  line-height: 120.3125%; /* 77/64 */
}
@media only screen and (max-width: 767.98px) {
  .section-title {
    font-size: 2.5rem;
  }
}

.section-subtitle {
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
@media only screen and (max-width: 767.98px) {
  .section-subtitle {
    font-size: 0.8rem;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}
.social__link {
  fill: #d8ae5e;
  -webkit-transition: fill 150ms ease-in, -webkit-transform 150ms ease-in;
  transition: fill 150ms ease-in, -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in, fill 150ms ease-in;
  transition: transform 150ms ease-in, fill 150ms ease-in, -webkit-transform 150ms ease-in;
}
.social__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  fill: #a18146;
}
.page__hero {
  padding-block: 7.76699svh; /* 64/824 */
}

.hero {
  position: relative;
  color: #ffffff;
}
.hero::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
}
.hero__container {
  min-height: 100svh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15.533981svh; /* 128/824 */
  position: relative;
  z-index: 3;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.25rem;
}
.hero__title {
  color: #ffffff;
  font-family: "Bodoni 72";
  font-size: 6rem;
  line-height: 7.1875rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 767.98px) {
  .hero__title {
    font-size: 3rem;
    line-height: 3rem;
  }
}
.hero__text {
  font-size: 1.5rem;
  letter-spacing: 0.225rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 767.98px) {
  .hero__text {
    font-size: 1rem;
  }
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 3.883495svh; /* 32/824 */
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 767.98px) {
  .menu__list {
    gap: 25px;
  }
}
.menu__link {
  color: #ffffff;
}
.menu__link:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 767.98px) {
  .menu__link {
    font-size: 20px;
  }
}

.logo {
  -webkit-transition: -webkit-transform 150ms ease-in;
  transition: -webkit-transform 150ms ease-in;
  transition: transform 150ms ease-in;
  transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
}
.logo:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
@media only screen and (max-width: 767.98px) {
  .logo {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
}
.about {
  text-align: center;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 32px;
}
.about__text {
  max-width: 598px;
  font-size: 20px;
  line-height: 1.5; /* 30px */
  letter-spacing: 1px;
}
@media only screen and (max-width: 767.98px) {
  .about__text {
    font-size: 16px;
  }
}
.activity__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 4rem;
}
@media only screen and (max-width: 768.98px) {
  .activity__container {
    row-gap: 3rem;
  }
}
@media only screen and (max-width: 424.98px) {
  .activity__container {
    row-gap: 2rem;
  }
}
.activity__list {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  max-width: 930px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 128px;
     -moz-column-gap: 128px;
          column-gap: 128px;
  row-gap: 96px;
}
@media only screen and (max-width: 991.98px) {
  .activity__list {
    -webkit-column-gap: 90px;
       -moz-column-gap: 90px;
            column-gap: 90px;
    row-gap: 70px;
  }
}
@media only screen and (max-width: 424.98px) {
  .activity__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 20px;
  }
}
.activity__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
@media only screen and (max-width: 424.98px) {
  .activity__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.activity__link {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.0625rem;
  border-bottom: 1px solid #d8ae5e;
  padding-bottom: 0.5rem;
  -webkit-transition: border 150ms ease-in, color 150ms ease-in;
  transition: border 150ms ease-in, color 150ms ease-in;
}
@media only screen and (max-width: 424.98px) {
  .activity__link {
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .activity__link:hover {
    border-bottom: 1px solid #000000;
    color: #d8ae5e;
  }
}

.item-activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 16px;
}
@media only screen and (max-width: 424.98px) {
  .item-activity {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.item-activity__icon {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 78px;
  height: 64px;
}
@media only screen and (max-width: 424.98px) {
  .item-activity__icon {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 50px;
  }
}
.item-activity__label {
  font-size: 20px;
  letter-spacing: 1px;
}
@media only screen and (max-width: 767.98px) {
  .item-activity__label {
    font-size: 16px;
  }
}
@media only screen and (max-width: 424.98px) {
  .item-activity__label {
    font-size: 12px;
  }
}

.amenities__header:not(:last-child) {
  margin-bottom: 4rem;
}
@media only screen and (max-width: 767.98px) {
  .amenities__header:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.body-amenities__content:not(:last-child) {
  margin-bottom: 4.625rem;
}
@media only screen and (max-width: 767.98px) {
  .body-amenities__content:not(:last-child) {
    margin-bottom: 3.625rem;
  }
}
.body-amenities__title {
  font-size: 1.5rem;
  letter-spacing: 0.225rem;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 767.98px) {
  .body-amenities__title {
    font-size: 1rem;
  }
}
.body-amenities__title:not(:last-child) {
  margin-bottom: 2rem;
}
.body-amenities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
@media only screen and (max-width: 1023.98px) {
  .body-amenities__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.body-amenities__item {
  border-radius: 0.25rem;
  overflow: hidden;
  aspect-ratio: 291/286;
  -ms-flex-preferred-size: 18.1875rem;
      flex-basis: 18.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.875rem;
  position: relative;
}
.body-amenities__item:nth-child(6n+3), .body-amenities__item:nth-child(6n+4) {
  aspect-ratio: 408/286;
  -ms-flex-preferred-size: 25.5rem;
      flex-basis: 25.5rem;
}
@media only screen and (max-width: 424.98px) {
  .body-amenities__item:nth-child(6n+3), .body-amenities__item:nth-child(6n+4) {
    aspect-ratio: 291/286;
  }
}
@media only screen and (max-width: 767.98px) {
  .body-amenities__item {
    aspect-ratio: 408/286;
    -ms-flex-preferred-size: 25.5rem;
        flex-basis: 25.5rem;
  }
}
@media only screen and (max-width: 424.98px) {
  .body-amenities__item {
    aspect-ratio: 291/286;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.body-amenities__item::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.2;
}
.body-amenities__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.body-amenities__label {
  color: #ffffff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.25; /* 35/28 */
  letter-spacing: 0.2625rem;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 767.98px) {
  .body-amenities__label {
    font-size: 1.25rem;
  }
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4rem;
}
@media only screen and (max-width: 768.98px) {
  .contacts__container {
    row-gap: 3rem;
  }
}
@media only screen and (max-width: 424.98px) {
  .contacts__container {
    row-gap: 2rem;
  }
}
.contacts__header .header-block__title {
  margin-bottom: 20px;
}
.contacts__header::after {
  margin-top: 20px;
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 32px;
}
.contacts__link {
  letter-spacing: 0.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.contacts__link:hover {
  text-decoration: underline;
}
.contacts__link::before {
  width: 24px;
  height: 24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.contacts__link--phone::before {
  content: url(../img/icons/contacts/phone.svg);
}
.contacts__link--mail::before {
  content: url(../img/icons/contacts/mail.svg);
}
.contacts__link--map::before {
  content: url(../img/icons/contacts/map.svg);
}
/**
*
*
*--------- Сonnecting FOOTER styles --------*/
.footer {
  letter-spacing: 0.8px;
  text-align: center;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 4rem;
}
@media only screen and (max-width: 768.98px) {
  .footer__container {
    row-gap: 3rem;
  }
}
@media only screen and (max-width: 424.98px) {
  .footer__container {
    row-gap: 2rem;
  }
}
.footer__contacts a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .contacts-footer__link {
    line-height: 2;
  }
}
.privacy-footer {
  text-align: center;
}
.privacy-footer__copy:not(:last-child) {
  margin-bottom: 16px;
}
@media only screen and (max-width: 768.98px) {
  .privacy-footer__copy:not(:last-child) {
    margin-bottom: 8px;
  }
}
.privacy-footer__link {
  font-weight: 600;
}
.privacy-footer__link:hover {
  text-decoration: underline;
}