body {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.25rem;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrapper > main {
    flex-grow: 1;
}

[class*="page__"],
.footer {
    padding-block: 4rem;
    
    @media screen and (max-width: 767.98px) {
        padding-block: 2rem;
    }

    &:nth-child(even) {
        background-color: $color-bg-lighter;
    }

    &:nth-child(odd) {
        background-color: $color-bg-darker;
    }

}
