.page {
    // .page__hero
    &__hero {
        padding-block: 7.76699svh; /* 64/824 */
    }
}
.hero {
    position: relative;
    color: $color-text-secondary;

    // dark overlay
    &::before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.6;
    }

    // .hero__container
    &__container {
        min-height: 100svh;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        // 128px(gap) / 824px(hight of hero)
        row-gap: 15.533981svh; /* 128/824 */

        position: relative;
        z-index: 3;
    }
    // .hero__menu
    &__menu {
    }
    // .hero__content
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.25rem;
    }
    // .hero__title
    &__title {
        color: $color-text-secondary;
        font-family: "Bodoni 72";
        font-size: 6rem;
        line-height: 7.1875rem;
        text-transform: uppercase;

        @media only screen and (max-width: 767.98px) {
            font-size: 3rem;
            line-height: 3rem;
        }
    }
    // .hero__text
    &__text {
        font-size: 1.5rem;
        letter-spacing: 0.225rem;
        text-transform: uppercase;

        @media only screen and (max-width: 767.98px) {
            font-size: 1rem;
        }
    }
    // .hero__button
    &__button {
    }

    // .hero__bg
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.883495svh; /* 32/824 */

    // .menu__logo
    &__logo {
    }

    // .menu__list
    &__list {
        display: flex;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;

        @media only screen and (max-width: 767.98px) {
            gap: 25px;
        }
    }
    // .menu__item
    &__item {
    }
    // .menu__link
    &__link {
        color: $color-text-secondary;

        &:hover {
            text-decoration: underline;
        }

        @media only screen and (max-width: 767.98px) {
            font-size: 20px;
        }
    }
}


.logo {
    transition: transform 150ms ease-in;

    &:hover {
        transform: scale(1.05);
    }

    @media only screen and (max-width: 767.98px) {
        transform: scale(0.7);
    }
    // .logo__img
    &__img {
    }
}
